<li>@Html.ActionLink("Home", "Index", "Home")</li>

<title>@ViewBag.Title – Azure Application</title>

@Html.ActionLink("Azure development", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

<p>&copy; @DateTime.Now.Year – Azure Application</p>